.title {
  text-align: center;
  margin-top: 20px;
  color: rgb(45, 135, 220);
  font-weight: 800;
  font-size: 30px;
}

.submitForm {
  margin-top: 40px;
}

.submitForm label{
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}

.submitForm input{
  display: block;
  margin: auto;
  margin-top: 10px;
}